<h1>Welcome to my chess app</h1>

<div class="chessboard">

  <div class="chess-row" *ngFor="let row of rows;">
    <div [ngClass]="{
      'darkbackground': isDarkBackground(row, column),
      'WP': getInitialPosition(row, column, 'WP'),
      'BP': getInitialPosition(row, column, 'BP'),
      'WR': getInitialPosition(row, column, 'WR'),
      'BR': getInitialPosition(row, column, 'BR'),
      'BH': getInitialPosition(row, column, 'BH'),
      'WH': getInitialPosition(row, column, 'WH'),
      'BB': getInitialPosition(row, column, 'BB'),
      'WB': getInitialPosition(row, column, 'WB'),
      'BQ': getInitialPosition(row, column, 'BQ'),
      'WQ': getInitialPosition(row, column, 'WQ'),
      'WK': getInitialPosition(row, column, 'WK'),
      'BK': getInitialPosition(row, column, 'BK')
    }" *ngFor="let column of columns;">
      {{row}} - {{column}}
    </div>
  </div>

</div>
